.main-container
	.admin-page
		.row
			.span2
				= render "layouts/admin_nav"

			.span8
				%h3 Admin panel

				%p Hello you super sexy and successful administrator.
				%p Select from the links on the left and I will do as you please.