.section-top-filler#how
%h1 We have the tools. You have the guests.

.row
	.span5
		.hero-unit.left-hero
			%h3 TO Tablets
			.custom-cell ✔ Writes the custom iOS rental app
			.custom-cell ✔ Pays for all data and 3rd party apps
			.custom-cell ✔ Handles payments and iPad security
			.custom-cell ✔ Provides marketing materials

	.span5
		.hero-unit.right-hero
			%h3 You
			.custom-cell ✔ Display a running iPad at your location
			.custom-cell ✔ Hand out and receive back the iPads
			.custom-cell ✔ Inform TO Tablets of damaged iPads
			.custom-cell ✔ Place marketing materials where relevant

.row
	.span10
		%h3 We charge $25/night for the iPads
		%h3 We split the revenues 50/50