.section-top-filler#how
%h1 We have the tools. You have the guests.

.row
	.span5
		.hero-unit.left-hero
			%h3 TO Tablets
			.custom-cell ✔ Writes the custom iOS rental app
			.custom-cell ✔ Pays for all data and 3rd party apps
			.custom-cell ✔ Handles payments and iPad security
			.custom-cell ✔ Provides marketing materials

	.span5
		.hero-unit.right-hero
			%h3 You
			.custom-cell ✔ Display our tent cards in your rooms
			.custom-cell ✔ Dispense iPads to interested guests
			.custom-cell ✔ Collect iPads back from guests
			.custom-cell ✔ Inform us of damaged or stolen iPads

.row
	.span10
		%h3 We charge $25/day for the iPads
		%h3 We split the revenues with you
		%a{:href => "https://itunes.apple.com/us/app/to-tablets/id687617695?mt=8&uo=4", :style => "margin-top:15px;display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(http://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}", :target => "itunes_store"}