.main-container
  .section-container
    = render "what"
  .section-container
    = render "how"
  .section-container
    = render "why"
  / .section-container
  /   = render "where"
  .section-container
    = render "who"