.left-hero {
	background-color: #778BA6 !important;
	color: white !important;
}

.right-hero {
	background-color: #69788C !important;
	color: white !important;
}

.custom-cell {
	text-align: left;
	color: black;
	padding: 10px;
	border-radius: 5px;
	background-color: #F2EFE4 !important;
	margin: 10px 0;
}