@import "bootstrap";

.carousel-container {
	background-image: url("clean_ipad_frame.png");
	background-repeat: no-repeat;
	width: 800px;
	margin: 0 auto;
}

.carousel {
	width: 650px;
	padding: 70px 77px;
}

.carousel-control.left {
	margin-left: 80px;
	margin-top: 38px;
}

.carousel-control.right {
	margin-right: 80px;
	margin-top: 38px;
}

.carousel-indicators {
	top: 93%;
	left: 45%;
}