%ul.nav.nav-pills.nav-stacked.admin-ul
	%li{ :class => params[:controller] == "locations" ? "active" : nil }
		%a{ :href => locations_path } Locations
	%li{ :class => params[:controller] == "devices" ? "active" : nil }
		%a{ :href => devices_path } Devices
	%li{ :class => params[:controller] == "taxes" ? "active" : nil }
		%a{ :href => taxes_path } Taxes