%ul.nav.nav-pills.nav-stacked.admin-ul
	%li{ :class => params[:controller] == "key_inputs" ? "active" : nil }
		%a{ :href => key_input_path(KeyInput.last) } Key Info
	%li{ :class => params[:controller] == "rentals" ? "active" : nil }
		%a{ :href => '/admin/rentals' } Rentals
	%li{ :class => params[:controller] == "customers" ? "active" : nil }
		%a{ :href => customers_path } Customers
	%li{ :class => params[:controller] == "locations" ? "active" : nil }
		%a{ :href => locations_path } Locations
	%li{ :class => params[:controller] == "devices" ? "active" : nil }
		%a{ :href => devices_path } Devices
	%li{ :class => params[:controller] == "taxes" ? "active" : nil }
		%a{ :href => taxes_path } Taxes
	%li{ :class => params[:controller] == "pre_auths" ? "active" : nil }
		%a{ :href => pre_auths_path } Pre-auths
	%li{ :class => params[:controller] == "admin_accesses" ? "active" : nil }
		%a{ :href => admin_accesses_path } Admin accesses