.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    %a.brand.smoothScroll{:href => "#what"} TO Tablets
    %ul.nav
      %li.active
        %a.smoothScroll{:href => "#what"} What
      %li
        %a.smoothScroll{:href => "#how"} How
      %li
        %a.smoothScroll{:href => "#why"} Why
      %li
        %a.smoothScroll{:href => "#where"} Where
      %li
        %a.smoothScroll{:href => "#who"} Who
      %li
        %a.smoothScroll{:href => "#when"} When